<!-- Top Navigation Bar -->
<nav class="navbar">
    <div class="navbar-left">
        <div class="breadcrumb">
            <a href="#" class="breadcrumb-item">Dashboard</a>
            <span class="breadcrumb-separator">/</span>
            <span class="breadcrumb-current">Overview</span>
        </div>

        <div class="navbar-search">
            <svg
                class="navbar-search-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd" />
            </svg>
            <input
                type="text"
                class="navbar-search-input"
                placeholder="Search cameras, alerts, locations..."
                aria-label="Search" />
        </div>
    </div>

    <div class="navbar-right">
        <button class="navbar-action" aria-label="Notifications">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M10 2a6 6 0 00-6 6c0 3.163-.457 4.96-1.732 6.36a.75.75 0 00.518 1.26H7.5a2.5 2.5 0 005 0h4.714a.75.75 0 00.518-1.26C16.457 12.96 16 11.163 16 8a6 6 0 00-6-6zM9 16.5a1.5 1.5 0 003 0H9z"
                    clip-rule="evenodd" />
            </svg>
            <span class="notification-badge"></span>
        </button>

        <button class="navbar-action" aria-label="Settings">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M7.84 1.804A1 1 0 018.82 1h2.36a1 1 0 01.98.804l.331 1.652a6.995 6.995 0 011.372.793l1.61-.495a1 1 0 011.19.494l1.18 2.043a1 1 0 01-.207 1.254l-1.268 1.113a7.038 7.038 0 010 1.586l1.268 1.113a1 1 0 01.206 1.254l-1.18 2.043a1 1 0 01-1.19.494l-1.61-.495a6.995 6.995 0 01-1.372.793l-.33 1.652a1 1 0 01-.98.804H8.82a1 1 0 01-.98-.804l-.331-1.652a6.995 6.995 0 01-1.372-.793l-1.61.495a1 1 0 01-1.19-.494l-1.179-2.043a1 1 0 01.206-1.254l1.268-1.113a7.038 7.038 0 010-1.586L4.364 7.9a1 1 0 01-.206-1.254l1.18-2.043a1 1 0 011.19-.494l1.61.495a6.995 6.995 0 011.372-.793l.33-1.652zM10 13a3 3 0 100-6 3 3 0 000 6z"
                    clip-rule="evenodd" />
            </svg>
        </button>

        <div class="navbar-avatar" title="John Doe">JD</div>
    </div>
</nav>
